body {
    background-color: #303750;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    text-align: center;
    color: white;
}
table {
    border-collapse: collapse;
    width:100%;
}
th, td {
    border-collapse: collapse;
    padding: 8px;
    border-bottom: 3px solid #0e2849;
    text-align: left;
    color: white;
}
tr:hover {background-color: #27518f;}

.logo {
    height: 50px;
    background-color: #0e2849;
    margin: -8px;
    padding: 20px;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.go-to-index {
    background-color: #a8470e;
}
.go-to-subpage {
    background-color: #37638d;
}
.login {
    background-color: #308616;
}
.loggedin {
    background-color: #1088bc;
}

.logout{
    background-color: #ff3d3d;
}
.login-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.login-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.login-container button:hover {
    background-color: #0056b3;
}
.cancel {
    background-color: #37638d;
}
.edit {
    background-color: #37638d;
}
.delete {
    background-color: #721c2f;
}
.add {
    background-color: #285f21;
}

input[type="submit"]{
    background-color: #285f21;
}
.preserve-space {
    white-space: pre;
    text-align: center;
}
.error-message {
    color: red;
}
.input-label {
    color: white;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.single-column {
    display: flex;
    flex-direction: column;
}