body {
    background-color: #303750;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    text-align: center;
    color: white;
}
table {
    border-collapse: collapse;
    width:100%;
}
th, td {
    border-collapse: collapse;
    padding: 8px;
    border-bottom: 3px solid #0e2849;
    text-align: left;
    color: white;
}
tr:hover {background-color: #27518f;}

.logo {
    height: 109px;
    background-color: #18161c;
    margin: -8px;
    padding: 0px;
}

.for-rent-img {
    width: 350px;
    padding: 0px;
    margin: 20px;
    box-shadow: 13px 13px 5px 10px rgba(0, 0, 0, 0.5);
}

.my-cottages-img {
    width: 700px;
    padding: 0px;
    margin: 5px;
    box-shadow: 13px 13px 5px 10px rgba(0, 0, 0, 0.5);
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.logo img {
    height: 105px;
    box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.reservation-notification {
    box-shadow: 1px 1px 5px 10px rgba(155, 24, 24, 0.5);
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
.login {
    background-color: #308616;
    margin-left: 30px;
}
.loggedin {
    background-color: #37638d;
    margin-left: 30px;
}

.logout{
    background-color: #721c2f;
    margin-left: 30px;
}
.login-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.login-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.login-container button:hover {
    background-color: #0056b3;
}
.cancel {
    background-color: #37638d;
}
.edit {
    background-color: #37638d;
}
.delete {
    background-color: #721c2f;
}
.add {
    background-color: #285f21;
}

input[type="submit"]{
    background-color: #285f21;
}
.preserve-space {
    white-space: pre;
    text-align: center;
}
.error-message {
    color: rgb(172, 15, 15);
}
.input-label {
    color: white;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.single-column {
    display: flex;
    flex-direction: column;
}