<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New Cottage</title>
        <th:block th:include="index :: headerfiles"></th:block>
    </head>

    <body>
        <h2>Add a cottage</h2>
        <form action="#" class="preserve-space" th:action="@{/addcottage}" th:object="${cottage}" method="post">
            <label for="name" class="input-label">Name</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span>

            <label for="addressStreet" class="input-label">Address street</label>
            <input type="text" th:field="*{address.street}" id="address" placeholder="AddressStreet">
            <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" class="error-message"></span>

            <label for="addressPostalCode" class="input-label">Address postal code</label>
            <input type="text" th:field="*{address.postalCode}" id="address" placeholder="AddressPostalCode">
            <span th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}" class="error-message"></span>

            <label for="city" class="input-label">City</label>
            <input type="text" th:field="*{address.city.name}" id="city" placeholder="city">
            <span th:if="${#fields.hasErrors('address.city.name')}" th:errors="*{address.city.name}" class="error-message"></span>

            <label for="country" class="input-label">Country</label>
            <input type="text" th:field="*{cottage.address.city.country.name}" id="country" placeholder="country">
            <span th:if="${#fields.hasErrors('address.city.country.name')}" th:errors="*{address.city.country.name}" class="error-message"></span>

            <label for="size_m2" class="input-label">Size in m2</label>
            <input type="number" th:field="*{size_m2}" id="size_m2" placeholder="Size_m2">
            <span th:if="${#fields.hasErrors('size_m2')}" th:errors="*{size_m2}" class="error-message"></span>

            <label for="roomsNumber" class="input-label">Number of rooms</label>
            <input type="number" th:field="*{roomsNumber}" id="roomsNumber" placeholder="RoomsNumber">
            <span th:if="${#fields.hasErrors('roomsNumber')}" th:errors="*{roomsNumber}" class="error-message"></span>

            <label for="bathroomsNumber" class="input-label">Number of bathrooms</label>
            <input type="number" th:field="*{bathroomsNumber}" id="bathroomsNumber" placeholder="BathroomsNumber">
            <span th:if="${#fields.hasErrors('bathroomsNumber')}" th:errors="*{bathroomsNumber}" class="error-message"></span>

            <label for="maxPeopleNum" class="input-label">Maximum number of people</label>
            <input type="number" th:field="*{maxPeopleNum}" id="maxPeopleNum" placeholder="MaxPeopleNum">
            <span th:if="${#fields.hasErrors('maxPeopleNum')}" th:errors="*{maxPeopleNum}" class="error-message"></span>

            <label for="minPricePerDay" class="input-label">Price per Day</label>
            <input type="number" th:field="*{minPricePerDay}" id="minPricePerDay" placeholder="minPricePerDay">
            <span th:if="${#fields.hasErrors('minPricePerDay')}" th:errors="*{minPricePerDay}" class="error-message"></span>

            <p style="text-align: center;">
                <input type="submit" value="Add cottage" class="button">
                <a href="/my-cottages" class="button cancel">Cancel</a>
            </p>
        </form>
    </body>
</html>
