<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MojaChata.pl</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div class="logo">
            <a href="/index" class="button go-to-index">MojaChata.pl</a>
            <a href="/index" class="button login">Login</a>
        </div>
        <div th:switch="${cottages}">
            <h2>For rent</h2>
            <p style="text-align: center;">
                <a href="/reservations" class="button go-to-subpage">Go to my reservations</a>
                <a href="/search" class="button go-to-subpage">Find a cottage</a>
            </p>

            <hr width="90%" size="3" color="#0e2849" noshade>
            <h2>My cottages</h2>
            <p style="text-align: center;">
                <a href="/my-cottages" class="button go-to-subpage">Go to my cottages</a>
            </p>
        </div>
    </body>
</html>