<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MojaChata.pl</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div class="logo">
            <a href="/index" class="button go-to-index">MojaChata.pl</a>
            <a th:if="${session.loggedInUser != null}"
                th:href="@{/login}"
                th:text="${session.loggedInUser.username}+ ' id: '+${session.loggedInUser.id}"
                class="button loggedin">
            </a>
            <a th:if="${session.loggedInUser != null}"
                th:href="@{/logout}"
                th:text="'Log out'"
                class="button logout">
            </a>
            <a th:unless="${session.loggedInUser != null}"
            th:href="@{/login}"
            th:text="Login"
            class="button login">
            </a>

        </div>
        <div th:switch="${cottages}">
            <br>
            <br>
            <h2>For rent</h2>
            <p style="text-align: center;">
                <a href="/reservations" class="button go-to-subpage">Go to my reservations</a>
                <a href="/search" class="button go-to-subpage">Find a cottage</a>
            </p>

            <hr width="90%" size="3" color="#230e49" noshade>
            <h2>My cottages</h2>
            <p style="text-align: center;">
                <a href="/my-cottages">
                <button class="button go-to-subpage"  th:classappend="${hasRequests} ? 'go-to-subpage2' : 'go-to-subpage'">
                    Go to my cottages
                </button>
                </a>
            </p>
        </div>
    </body>
</html>