<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My Cottages</title>
        <th:block th:include="index :: headerfiles"></th:block>
    </head>

    <body>
        <div th:replace="index :: logo-bar"></div>

        <div th:if="${session.loggedInUser == null}">
            <h2 >Log in to see your cottages!</h2>
        </div>
        <div th:unless = "${session.loggedInUser == null}" th:switch="${cottages}">
            <h2 th:case="null" >No cottages yet!</h2>
            <div th:case="*">
                <h2 >My Cottages</h2>
                <p><a href="/addcottage" class="button add">Add a new cottage</a></p>
                <table>
                    <thead>
                        <tr>
                            <th style="width:20%;">Name</th>
                            <th style="width:20%;">Address</th>
                            <th >Size</th>
                            <th >Number of rooms</th>
                            <th >Number of bathrooms</th>
                            <th >Maximum number of people</th>
                            <th style="width:10%;">Price</th>
                            <th >Edit</th>
                            <th >Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cottage : ${cottages}">
                            <td th:text="${cottage.name}" ></td>
                            <td th:text="${cottage.address}" ></td>
                            <td th:text="${cottage.size}" ></td>
                            <td th:text="${cottage.roomsNumber}" ></td>
                            <td th:text="${cottage.bathroomsNumber}" ></td>
                            <td th:text="${cottage.maxPeopleNum}" ></td>
                            <td th:text="${cottage.price}" ></td>
                            <td><a th:href="@{/edit/{id}(id=${cottage.id})}" class="button edit">Edit</a></td>
                            <td><a th:href="@{/delete/{id}(id=${cottage.id})}" class="button delete">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>