<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Reservations</title>
  <th:block th:insert="~{index :: headerfiles}"></th:block>
</head>

<body>
  <div th:replace="~{index :: logo-bar}"></div>
<br>
  <div class="filter-buttons">
    <a th:href="@{/reservations(status='all')}" class="button"
       th:classappend="${filter == 'all'} ? 'active'">All</a>
    <a th:href="@{/reservations(status='approved')}" class="button"
       th:classappend="${filter == 'approved'} ? 'active'">Approved</a>
    <a th:href="@{/reservations(status='rejected')}" class="button"
       th:classappend="${filter == 'rejected'} ? 'active'">Rejected</a>
    <a th:href="@{/reservations(status='pending')}" class="button"
       th:classappend="${filter == 'pending'} ? 'active'">Pending</a>
  </div>

  <div th:switch="${requests}">
    <h2 th:case="null" >No reservations</h2>
    <div th:case="*">
      <h2 >My Reservations</h2>
      <table>
        <thead>
        <tr>
          <th >Name</th>
          <th >Address</th>
          <th >City</th>
          <th >Country</th>
          <th >Size</th>
          <th >Number of rooms</th>
          <th >Number of bathrooms</th>
          <th >Maximum number of people</th>
          <th >Check-in date</th>
          <th >Check-out date</th>
          <th style="width:10%;">Total Price</th>
          <th style="color:lawngreen;">Status</th>
          <th >Request</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
          <td th:text="${request.cottage.name}" ></td>
          <td th:text="${request.cottage.address.street} + ' ' + ${request.cottage.address.postalCode}" ></td>
          <td th:text="${request.cottage.address.city.name}"></td>
          <td th:text="${request.cottage.address.city.country.name}"></td>
          <td th:text="${request.cottage.size_m2}" ></td>
          <td th:text="${request.cottage.roomsNumber}" ></td>
          <td th:text="${request.cottage.bathroomsNumber}" ></td>
          <td th:text="${request.cottage.maxPeopleNum}" ></td>
          <td th:text="${request.checkInDate}" ></td>
          <td th:text="${request.checkOutDate}" ></td>
          <td th:text="${request.totalPrice}" ></td>
          <td th:text="${requestStatus[request.id] == 1} ? 'Approved'
              : (${requestStatus[request.id] == 2} ? 'Rejected' : 'Pending')"></td>
          <td><a th:href="@{/unrequest(requestId=${request.id})}" class="button edit">Cancel</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>