<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="logo">
    <a href="/index" class="button go-to-index">MojaChata.pl</a>
</div>

<form action="/search" method="get">
    <input type="text" name="address" placeholder="Enter address" />
    <button type="submit">Search</button>
</form>

<table>
    <thead>
    <tr>
        <th style="width:20%;">Name</th>
        <th style="width:20%;">Address</th>
        <th>Size</th>
        <th>Number of Rooms</th>
        <th>Number of Bathrooms</th>
        <th>Maximum Number of People</th>
        <th style="width:10%;">Price</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through cottages and display them in the table -->
    <tr th:each="cottage : ${cottages}">
        <td th:text="${cottage.name}"></td>
        <td th:text="${cottage.address}"></td>
        <td th:text="${cottage.size}"></td>
        <td th:text="${cottage.roomsNumber}"></td>
        <td th:text="${cottage.bathroomsNumber}"></td>
        <td th:text="${cottage.maxPeopleNum}"></td>
        <td th:text="${cottage.price}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>