<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="logo">
    <a href="/index" class="button go-to-index">MojaChata.pl</a>
</div>
<div>
    <form action="/search" method="get" th:object="${searchDTO}" class="form-container">
        <div class="form-item">
            <label for="address" class="input-label">Address:</label>
            <input type="text" id="address" th:field="*{address}" placeholder="Enter address" />
        </div>

        <div class="single-column">
            <div class="form-item">
                <label for="minPrice" class="input-label">Min Price:</label>
                <input type="number" id="minPrice" th:field="*{minPrice}" placeholder="Enter min price" min="0" />
            </div>
            <div class="form-item">
                <label for="maxPrice" class="input-label">Max Price:</label>
                <input type="number" id="maxPrice" th:field="*{maxPrice}" placeholder="Enter max price" min="0" />
            </div>
        </div>

        <div class="single-column">
            <div class="form-item">
                <label for="minSize" class="input-label">Min Size:</label>
                <input type="number" id="minSize" th:field="*{minSize}" placeholder="Enter min size" min="0" />
            </div>
            <div class="form-item">
                <label for="maxSize" class="input-label">Max Size:</label>
                <input type="number" id="maxSize" th:field="*{maxSize}" placeholder="Enter max size" min="0" />
            </div>
        </div>

        <input type="submit" value="Search" class="button">
    </form>
</div>
<br>
<div th:switch="${cottages}">
    <h2 th:case="null" >No results</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th style="width:20%;">Name</th>
                <th style="width:20%;">Address</th>
                <th>Size</th>
                <th>Number of Rooms</th>
                <th>Number of Bathrooms</th>
                <th>Maximum Number of People</th>
                <th style="width:10%;">Price</th>
                <th>Rent</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cottage : ${cottages}">
                <td th:text="${cottage.name}"></td>
                <td th:text="${cottage.address}"></td>
                <td th:text="${cottage.size}"></td>
                <td th:text="${cottage.roomsNumber}"></td>
                <td th:text="${cottage.bathroomsNumber}"></td>
                <td th:text="${cottage.maxPeopleNum}"></td>
                <td th:text="${cottage.price}"></td>
                <td><a class="button edit">Rent</a></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${#lists.isEmpty(cottages)}">
            <h2>No results</h2>
        </div>
    </div>
</div>
</body>
</html>